.produto {
  width: 300px;
  padding: 4px
}
.produtoImagem {
  width: 300px;
}

.botaoComprar {
  width: 100%;
  min-height: 40px;
  background-color: rgb(5, 87, 117);
  color: #fff;
  padding: 8px;
  border:0;
  cursor: pointer;
  font-size: 24px;
}